.product
{
  margin-bottom: 20px;

  .product-inner
  {
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(0,0,0,.15),0 0 1px 0 rgba(0,0,0,.15);
    height: 285px;
    background-color: white;
    padding: 15px;
    padding-top: 40px;
    margin: 5px;
    text-align: center;
    position: relative;

    .product-name
    {
      font-weight: bold;
      margin-bottom: 5px;
    }

    .product-category
    {
      color: #cccccc;
      font-size: 10px;
    }

    .product-price
    {
      position: absolute;
      bottom: 20px;
      width: calc(100% - 30px);
      opacity: 0;

      @include transition(opacity .10s ease-in-out);
    }

    img
    {
      height: 200px;
    }
  }
}

.product-inner:hover .product-price
{
  opacity: 1;
}